{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script defer src="{% static 'js/all.js' %}"></script>

    <title>Document</title>
</head>
<body>
<section class="hero is-light is-large">
<!-- Hero head: will stick at the top -->
  <div class="hero-head">
<nav class="navbar container" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item is-size-3" href="{% url 'index' %}">MAR Hostels</a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarMenuHeroA" class="navbar-menu">
    <!-- navbar start, navbar end -->
    <div class="navbar-end">
               {% if request.user.is_authenticated %}
                   <a href="#" class="navbar-item">Welcome, {{ request.user }}</a>
                   <a class="navbar-item" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a class="navbar-item" href="{% url 'login' %}">Sign in</a>
                    <span class="navbar-item">
                    <a class="button is-medium is-inverted"  href="{% url 'register' %}">Apply </a>
                    </span>
                {% endif %}
                </div>
  </div>
</nav>

<section class="section">
<div class="container">
    {% block content %}

    {% endblock content %}
    </div>
    </section>
    
</body>
</html>