{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <script defer src="{% static 'js/all.js' %}"></script>

    <title>Document</title>
</head>
<body>
<section class="section">
<div class="column is-vcentered is-three-fifths is-offset-one-fifth">
    {% block content %}

    {% endblock content %}
    </div>
    </section>
    
</body>
</html>