{% extends 'base.html' %}

{% block content %}
   
    {% if request.user.is_authenticated %}
        {% if  request.user.application.approved %}
        <div class="hero-body hero_approved">
        <section class="section">
        <h1>Welcome, {{ request.user.application.name }}</p>
        </section>
        <div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title is-size-2">Hostel</p>
      <p class="subtitle">{{ request.user.application.hostel_name }}</p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Room Number</p>
      <p class="subtitle">{{ request.user.application.room_number }}</p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Student Id</p>
      <p class="subtitle">{{ request.user.application.student_id }} </p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Year</p>
      <p class="subtitle">{{ request.user.application.year }} </p>
    </article>
  </div>
</div>
        </div>
        {% else %}
<div class="hero-body has-text-centered">
        <h1 class="title is-size-2">Thank you for applying to Mar Hostels</h1>
        <p>You application with Mars Hostels is under review</p>
        <p>You will be notified soon after you have been approved</p>
        </div>
        {% endif %}
    {% else %}
<div class="hero-body has-text-centered">
        <h1 class="title is-size-2">Welcome  to Mar Hostels</h1>
        <p>Apply to have access to our luxury and affordable hostels</p>
        <p>Mar Hostel allows you to book hostel rooms in the simplex way</p>
        <section class="section">
        <a class="button is-info" href="{% url 'register' %}">Register for Accommodation</a>
        <a class="button is-secondary" href="{% url 'login' %}">Sign in</a>
        </section>
        </div>
    {% endif %}

    </div>
{% endblock content %}