{% extends 'login_base.html' %}
{% load bulma_tags %}

{% block content %}
  <form class="is-vcentered" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form|bulma }}
    <button type="submit" class="button">Sign In</button>
  </form>
{% endblock content %}