{% extends 'login_base.html' %}
{% load bulma_tags %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <fieldset class="box">
  <legend class="label has-text-centered">Sign Up Details</legend>
  {{ user_form|bulma }}
  </fieldset>
  <fieldset class="box">
  <legend class="label has-text-centered">Accommodation Details</legend>
  {{ application_form|bulma }}
  </fieldset>
    <button arial-label="Create Account" type="submit" class="button">Sign Up</button>
  </form>

{% endblock content %}